
.grid-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr 1fr   ;
    grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr   ; */
    grid-gap: 20px;
    width: 100%;
    background-color:#faf8f8;
}
.card-image{
    background-color: #e3e3e3;
    text-align: center;
    padding: 0 0;
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 10px  #888888be;    
}

body {
    width: 100vw;
    margin : auto ;  
    background-color: #f0f2f5;
}

/* COMPONENTS */

/*Header components */

/* .main-screen {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
    transition: opacity 0.8s;
    cursor: pointer;
} */


.main-header {
    height: 130px;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #9ccc86;
    width: 100vw;
}
.main-container{
    padding-left: 30px;
    max-width: 80%;
    margin:   auto ;
    box-sizing: content-box;
}
.main-container2{
    width: 100vw;
    margin:   auto ;
    display: flex;
    justify-content: center;

  
    box-sizing: content-box;
    padding-left: 0px;
}
.header-container {
    height: 100%;
}
.capitalize {
    text-transform: capitalize;
}

.nav-item {
    height: 100%;
    justify-content: center;
}

.search-div{
    background-color: #fff;  
}

.site-search{
    height: 40px;
    width: 300px;
    margin : 20px;
    border-radius: 10px;
}

.navbar-conntainer{
    width: 100vw;
}

.navbar-conntainer .nav-item:hover {
    opacity: 0.5;

}
.navbar-conntainer .nav-item {
    font-family: lato-bold;
    color: #887132;
    font-size: x-large;
    letter-spacing: 0.8px;
    font-weight: 600;
    /* text-shadow: 0 1px 0 #1e1e1e; */
}

.clean-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-header .navbar-conntainer > * {
    width: 132px;
    height: 130px;
    box-shadow: inset 1px  0 0  #1d1d1d;
    color: #f5f0f0;
}

.give-border-rigth {
    box-shadow: inset -1px  0 0  #1d1d1d;
}


.main-header .logo {
    font-family: euroforencer, serif;
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: -0.8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
}

/* .main-header .logo::after {
    content: ".";
    color: #58c93a;
} */

.capitalize {
    text-transform: capitalize;
}

/*  HELPERS */

.flex {
    display: flex;  
}
.flex2{
    display: flex; 
}
.flex-for-header{
    display: flex; 
    justify-content:flex-end;
}

.align-item-center {
    align-items: center; 
}
.align-item-center-for-header {
    align-items: center; 
}

.space-between {
    justify-content: space-between;
   
}
.flex-firection-row{
    flex-direction: row ;
    
}
.flex-direction-column{
    flex-direction: column;
}
.flex-colum-wrap{
flex-flow: column wrap;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.pading-bottom{
    padding-bottom: 1.5vw;
}

/****** FONTS *****/
@font-face {
    font-family: impact;
    src: url(/FONT/impact.ttf);
    color: #4f4e4e;
    font-size: 1.75rem;
  }

  @font-face {
    font-family: latoRegular;
    src: url(/FONT/Lato-Regular.ttf);
    color : #606060;
    letter-spacing: normal;
    font-size : 1;
  }
@font-face {
    font-family: euro;
    src: url(/FONT/eurof55.ttf);
    color: #241f1f;
  }

  .upload{
    opacity : 0.1;

  }



  /** modal mems **/
.saved-mems-modal-main{
    background-color: rgb(232, 238, 238) ;
    box-shadow: 5px 10px 10px 500vh #a8a8a8be;  
    display : none;
  
    position: absolute;
    top:20px;
    right: 100px;
    padding: 0px;
    width : 85vw;
    min-height: 70vh;
    border-radius: 10px;
}

.modal-mems{
    background-color: rgb(232, 238, 238) ;
    display : flex;
    justify-content: center;   
    padding-top:10px ;
    padding-bottom: 30px;
    width : 100%;
    /* height: inherit;  */
    height: fit-content;
    border-radius: 10px;

}
.saved-mems-grid-container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr 1fr   ;
    grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr   ; */
    grid-gap: 15px;
    width: 93%;
    background-color:#faf8f8;
    /* padding-left: 20px; */
    margin-left: 40px;
    border-radius: 10px;
}
.saved-mems-img{
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    /* padding-top: 10px; */
    border-radius: 10px;
}
.txtcol-container{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.save-btn{
    margin-left: 5px;
    margin-top: 0px;
    background: #4267b2;
    padding: 5px 10px;
    font-size: 2vw;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.delete-meme{
    margin-left: 5px;
    margin-top: 0px;
    background: #4267b2;
    padding: 5px 10px;
    font-size: 2vw;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.share-container{
    margin-top: 8px;
    border-radius: 8px;
}
.share-btn {   
    margin-top: 100px;      
    border-radius: 5px;
    background: #4267b2;   
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;     
    user-select: none;
    white-space: nowrap;
    padding: 8px 10px;
    text-decoration: none;
    
}

.mems{
    cursor: pointer;
}


/* :root {
    --x: 555px;
  }
  height:  var(--x) ; */

/******** MODAL *********/
.modal {
    background-color: rgb(232, 238, 238) ;
    box-shadow: 5px 10px 10px 500vh #a8a8a8be;    
    display : none;
    position: fixed;
    top:25px;
    right: 30px;
    padding: 10px 10px 40px 10px;
    width : 90%;
}


.modal-container{
    width : 90%;
    padding-left: 1vw;
}

.modal-btn-container{
    margin:   auto ; 
    flex-direction: column;
}

.big-icon{    
    width: 25px ;
    height: 25px ;
}

.logo-icon{
    width: 25vw ;
    height: 5vw ;
}
.btn-modal-container{
    padding: 0.3vw;
}
.btn-modal{  
width: 5vw;
height: 5vw;
cursor: pointer;

}
.modal-header{
    width: 100%;
    height: 40px;
    background-color: #9ccc86;
}
.modal-footer{
    width: 100%;
    height: 50px;
    background-color: #9ccc86;
}

.impact{
    width: 15vw;
    height: 30px; 
    margin: 15px 0px 15px; 
    border-radius: 10px; 
}
.stickers{
    width: 373px;
    height: 135px; 
    border-style: solid;
    border-color: rgb(15, 13, 12);
    background-color: #fff;
    border-radius: 10px; 
}

.sticker-img{
    height: 50px;
    width: 50px;
}


.form-modal{


} 

.share-download{
    background: #4267b2;
        border: 1px solid #4267b2;
        font-size: 2vw;
        color: #fff;
        cursor: pointer;
        font-family: Helvetica, Arial, sans-serif;
        margin: 0 5px;
        user-select: none;
        white-space: nowrap;
        padding: 5px 10px;
        border-radius: 3px;
        text-decoration: none;
}

.insid-modal-container{
    display: flex;
    justify-content: center;
}

.insid-modal{
    height: 50px;
    width: 27vw;
    font-size:45px;
    margin : 20px;
    border-radius: 10px; 
    text-align: center;
    padding: 6px 18px 6px 18px;
}

.txt-mem{
    font-family: impact ; 
}

.canvas-container{
    padding-top: 0px;
    margin:   auto ; 
    padding-left: 1vw;
    padding-right: 3vw; 
 
}
#container{
    width: 30vw;
}
/* canvas{
    width: 30vw;
    height: 30vw;
} */


.btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}


.stroke-color{
    width:20px ;  
}
.close-modal{
    cursor: pointer;
    border: none;
}
.closeModalMem{
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.upload-img{
    height: 300px;
    
}

.test{
    width:300px;
    border-radius: 10px;   
}

.about{
    cursor: pointer;
}

.about-modal{
    background-color: rgb(232, 238, 238) ;
    box-shadow: 5px 10px 10px 500vh #a8a8a8be;    
    display : none;
    position: fixed;
    top:25px;
    right: 30px;
    padding: 5px;
    width : 90%;
    height: 60vh ; 
}
.close-about-modal{
    cursor: pointer;
    border: none;
}
.about-modal-footer{
    position:absolute;
    bottom: 10px;
    width: 99%;
    height: 50px;
    background-color: #9ccc86;
}
.txt-container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.browse{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 100px;
    width: 300px;
    font-size: x-large;
    box-shadow: 5px 5px 5px 10px  #888888be;

}

.gif-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
   
}
.gif{
    width: 40vw;

}

.pressed{
    box-shadow:0px 1px 19px 14px #4c9e2cbe;
}
.welcome-txt{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 4vw;
}
.file-btn{
    display: none;
}
.browse-img{
    margin-top: 1.5vw;
    width: 15vw;
    margin-left:4vw;
    color:#0278ff;
    cursor: pointer;
}


/* Tablet */
@media screen and (max-width: 768px) {
    
    .main-container2{
        width: 75%;
    }
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
    .saved-mems-grid-container{
        grid-template-columns: repeat(2,1fr);
        /* width:60vw; */
   }
    .saved-mems-modal-main{
        right: 40px;
    }
    .saved-mems-img{
        width: 35vw;
        height: 35vw;
    }
}


    /* Mobile */
    @media screen and (max-width: 480px) {

    .main-header{
        width : 110vw;
    }
    .main-container2{
        padding-left: 0px;
        width: 80%;
        box-sizing: content-box;
        padding-left: 0px;     
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .images{
        display: flex;
        justify-content: center;
    }
    .logo-icon {
        width: 35vw ;
        height: 7vw ;
        padding-right: 10px;
        border-left: #1e1e1e;
 
        /* padding: 30px 30px 10px 30px ; */
    }

    .main-header .logo{
        padding-top: 0px;
    }
    .card-image {
        width: 60vw ;
        height: 60vw;
    }
    .main-container{
        width: 100vw;

    }
    .navbar-conntainer{
        width:50vw;
        box-shadow: inset 1px  0 0  #1d1d1d;
    }
    
    .navbar-conntainer .nav-item {
        font-family: lato-bold;
        color: #887132;
        font-size: medium;
        letter-spacing: 0.8px;
        font-weight: 600;
        padding-right: 0px;
        /* text-shadow: 0 1px 0 #1e1e1e; */
    }
    .modal{

    }
    
  .flex{
    flex-direction: column;
    }
    .justify-content-center{
  
    }
    .align-item-center{
       
    }
    #my-canvas{
        /* width: 60vw;
        height: 60vw; */
    }
    .insid-modal{
        height: 10vw;
        width: 55vw;
        font-size:35px;
        margin-top : 5px;
        margin-bottom : 8px;
        border-radius: 10px; 
        padding: 8px 9px 8px 9px;
    }
    .browse{
        padding-top:50px;
        width: 215px;
    }
    
    .canvas-container{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 255px;
        height: 255px;
    }
    .modal-container{
        width : 90%;
        padding-left: 5px;
        padding-top: 0px;
    }
    .form-modal{
      
    }
    .share-download{
        padding: 10px;
        margin-top: 0px;
        border-radius: 8px;
        margin-bottom: 10px;
        font-size: 22px;
        width: fit-content;
    }
    .share-container{
        margin-top: 8px;
        margin-bottom: 5px;
        border-radius: 8px;
    }
    .share-btn {   
        margin-top: 22px;      
        border-radius: 8px;
        background: #4267b2;   
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        font-family: Helvetica, Arial, sans-serif;     
        user-select: none;
        white-space: nowrap;
        padding: 8px 10px;
        text-decoration: none;
        
    }

    .save-btn{
        margin-left: 10px;
        margin-top: 0px;
        background: #4267b2;
        padding: 8px 10px;
        font-size: 22px;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
    .delete-meme{
        margin-left: 10px;
        margin-top: 0px;
        background: #4267b2;
        padding: 8px 10px;
        font-size: 22px;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }

    .saved-mems-modal-main{
        background-color: rgb(232, 238, 238) ;
        box-shadow: 5px 10px 10px 500vh #a8a8a8be;  
        display : none;
        width : 90%;
        position: absolute;
        top:20px;
        right: 50px;
        padding-right: 0px;
        width : 80%;
        height: 100vh;
        border-radius: 10px;
    }
    .saved-mems-grid-container{
            display: flex;
            flex-direction: column;
            width:60vw;
    }
    .saved-mems-img{
        width: 60vw;
        height: 60vw;
        cursor: pointer;
        /* padding-top: 10px; */
        border-radius: 10px;
    }
    .gif-container{
   flex-direction: column;
    }
    .gif{
        width: 90vw;
        padding-top: 12vh;

    }
    .btn-modal{  
        width: 15vw;
        height: 15vw;
    }
    .impact{
        width: 25vw;
    }
    .txtcol-container{
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
  .browse-img{
    width: 40vw;
    margin-left:7vw;
    margin-top:6vw;


}

}

/***************** Konva's Code ******************************/



    
    /* .test{
      */
        /* width: 20vw;
        height: 20vw; */
        /* background-image: url("https://res.cloudinary.com/omerphoto/image/upload/v1621970935/123_mjub6w.jpg"); */
        /* background-size: 20vw 20vw; */
    
    
        